---
import { email } from "../consts";
const { item } = Astro.props;

// Handle both single item and array of items
const post = item.data ?? item;
const frontmatter = post?.frontmatter || item.data;

// Fallback values for each property
let slug = frontmatter.id
const title = frontmatter.title || "Untitled";
const s3Url = frontmatter.s3Url || "#";
const category = frontmatter.category || "Unknown";
const dimensions = frontmatter.dimensions || "Not specified";
const year = frontmatter.year || "Unknown";
const forSale = frontmatter.forSale || false;

// Use the first available identifier for the key
const key = post?.url || item.id || frontmatter.title;
---

<div
    key={key}
    class="flex flex-col md:flex-row items-start mb-8 md:justify-center"
>
    <a href={"/art/"+slug} class="">
        <div class="image-container">
            <img src={s3Url} alt={title} class="" />
        </div>
    </a>
    <div class="text-center md:text-left md:pl-4 mx-auto lg:mx-0">
        <h2 class="picture-text-1">
            {title},
            <span class="picture-text-1_year">
                {year}
            </span>
        </h2>
        <div class="picture-text-2">{category}</div>
        <div class="picture-text-2">{dimensions}</div>
        <!-- <div class="picture-text-2">Year: {year}</div> -->
        {
            forSale && (
                <a
                    href={`mailto:${email}?subject=${title}`}
                    class="text-black underline hover:text-blue-500 mt-4 arial-font"
                >
                    Inquire to Purchase
                </a>
            )
        }
    </div>
</div>
